<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="icon" type="imagem/png"
    href="https://horrormoviesapi.blob.core.windows.net/images-api-horror-movies/FAV2.png" />
    <title>User</title>
</head>

<body class="black">
    <div class="card-panel black darken-3">
        <div class=" center-align z-depth-5 card grey lighten-5 card-panel">
            <span class="red-text text-darken-2">
                <h1>Filmes cadastrados</h1>
                <a class="waves-effect waves-light btn black darken-3" href="/total">
                    Formato JSON
                </a>
            </span>
        </div>
    </div>
    <table class="responsive-table bordered striped centered grey lighten-2 accent-5">
        <tr class="card-panel grey lighten-1">
            <th class=" center-align">Poster</th>
            <th style="display: none">Código</th>
            <th class=" center-align">Nome</th>
            <th class=" center-align">Lingua Original</th>
            <th class=" center-align">Título Original</th>
            <th class=" center-align">Sinopse</th>
            <th class=" center-align">Lançamento</th>
            <th class=" center-align">Gênero</th>
            <th class=" center-align">Trailer</th>
            <th class=" center-align">Excluir</th>
        </tr>
        <% item.forEach (function(item){%>
        <tr>
            <td><img src=" <%- item.poster %>" alt="" width="80" height="110"></td>
            <td style="display: none"><%- item._id %></td>
            <td><%- item.name %></td>
            <td><%- item.original_language %></td>
            <td><%- item.original_title %></td>
            <td style="width: 20%;"><%- item.overview %></td>
            <td><%- item.release_date %></td>
            <td><%- item.genre %></td>
            <td><%- item.trailer %></td>
            <td>
                <a class="waves-effect waves-light btn black darken-3" href="/delete/<%- item._id %>?_method=DELETE">
                    Excluir
                </a>
            </td>
        </tr>
        <%})%>
    </table>
</body>
<script>
    const url = "/delete/<%- item._id %>";

    $.ajax({
        method: "DELETE",
        url: url,
        success: function (data) {
            console.log(data);
        },

        error: function (data) {
            console.error(data);
        },
    });
</script>

</html>